body
{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

#start-btn
{
    width: 40%;
} 
#camera
{
    width:800px;
    height: 500px;
    border:5px solid rgb(71, 160, 167);
}
#textbox
{
    width: 300px;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

img {
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
    border-radius: 10px;
}

img:hover{
    border-radius: 140px;
}

.column {
    display: inline;
    padding: 2rem;
}

